.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer {
  padding: var(--spacing-sm);
  border-top: 1px solid var(--gray-300);
  font-size: var(--font-sm);
  color: var(--gray-500);
}
