.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  display: flex;
  font-size: var(--font-sm);
  background-color: blue;
  /* font-weight: var(); */
}

.wrapper {
  list-style-type: none;
  background-color: darkcyan;
  margin: 0; /* layout에 css 스타일 부르고 삭제 */
  padding: 0; /* layout에 css 스타일 부르고 삭제 */
  border: 0; /* layout에 css 스타일 부르고 삭제 */
}

.region {
  display: flex;
  justify-content: row;
  align-items: center;
  gap: var(--spacing-sm);
}

.label {
  display: flex;
  align-items: center;
  margin: 0 var(--spacing-xs);
  gap: var(--spacing-sm);
}
