.fill-link {
  display: flex;
  padding: var(--spacing-xxs);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxs);
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--third-color);
  box-shadow:
    2px 2px 3.1px 0 rgba(255, 255, 255, 0.5) inset,
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: var(--font-sm);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: opacity 0.2s ease-in-out;
}

.fill-link:hover {
  opacity: 0.8;
}
