.stroke-button {
  display: flex;
  padding: var(--spacing-xxs);
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-sm, 8px);
  border: 1px solid var(--third-color);
  background: var(--primary-color);
  box-shadow: 0 1px 2.4px 0 var(--third-color);
  color: var(--third-color);
  gap: var(--spacing-xxs);
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: var(--font-sm);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: opacity 0.2s ease-in-out;
}

.stroke-button:hover {
  opacity: 0.8;
}
