.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-xs);
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: var(--spacing-sm);
  padding: 0;
}

.title {
  text-align: center;
  margin: var(--spacing-sm) 0;
}
